<h1 class="jobposting-header">We are hiring...</h1>
<div class="new-container">
  <div class="job-description">
    <div class="hiringStatus">
      <h2>Actively hiring</h2>
      <i class="fa-solid fa-chart-line" style="color: #63e6be"></i>
    </div>
    <hr />
    <div class="company-name">
      <h2><%= post.companyName %></h2>
      <p id="tech"><%= post.role %>:<%= post.designation %></p>
    </div>
    <hr />
    <div class="location">
      <i class="fa-solid fa-location-dot" style="color: #63e6be"></i>
      <p><%= post.location %></p>
    </div>
    <div class="currency">
      <i class="fa-solid fa-indian-rupee-sign" style="color: #63e6be"></i>
      <p><%= post.salary %></p>
    </div>
    <div class="skills">
      <div class="skillsType">
        <i class="fa-solid fa-gears" style="color: #63e6be"></i>
        <p>Skills Required :</p>
      </div>
      <div class="skill">
        <div class="skillName">React</div>
        <div class="skillName">Reactkndfkjsbdfkjsa</div>
      </div>
    </div>
    <div class="details">
      <button id="details">More Details</button>
    </div>
  </div>
</div>
