<% if(user){ %>
  <h1 class="jobposting-header">We are hiring...</h1>
  <% if (posts.length === 0) { %>
    <p>No job posted yet.</p>
  <% } else { %>
    <% posts.forEach((job) => { %>
      <div class="new-container">
        <div class="job-description">
          <div class="hiringStatus">
            <h2>Actively hiring</h2>
            <i class="fa-solid fa-chart-line" style="color: #63e6be"></i>
          </div>
          <hr />

          <div class="company-name">
            <h2><%= job.companyName %></h2>
            <p id="tech"><%= job.role %></p>
          </div>
          <hr />

          <div class="location">
            <i class="fa-solid fa-location-dot" style="color: #63e6be"></i>
            <p><%= job.location %></p>
          </div>

          <div class="currency">
            <i class="fa-solid fa-indian-rupee-sign" style="color: #63e6be"></i>
            <p><%= job.salary %></p>
          </div>

          <div class="details">
            <button id="details">More Details</button>
          </div>
        </div>
      </div>
    <% }); %>
  <% } %>
  
<% } else { %>
  <p><%= error %></p>
<% } %>
